[
	{dnsplice, [
		{packet_timeout, 250},
		{listen_port, 5353},
		{peers, []},
		{default_backend, <<"google A">>},
		{default_alerts, false},	
                {backend_opts, []},
                {backends, [
			{<<"google A">>, "8.8.8.8"},
			{<<"google C">>, "8.8.8.8"},
			{<<"google B">>, "8.8.4.4"}
		]}
	]},
	{dnsplice_web, [
		{users, #{
			<<"username">> => <<"ExamplePassword#1">>
		}}
	]}
].
