{deps, [
	{jsx,     {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
	{erlydtl, {git, "https://github.com/erlydtl/erlydtl.git",   {branch, "master"}}},
	{cowboy,  {git, "https://github.com/ninenines/cowboy.git",  {branch, "master"}}}
]}.

{erlydtl_opts, [
	debug_info,
	{doc_root, "templates"}
]}.

{provider_hooks, [
	{pre, [
		{compile, {erlydtl, compile}}
	]}
]}.
